dist: xenial
sudo: require
language: cpp
compiler: gcc

install:
  - sudo apt-get install lcov libcurl4-openssl-dev libssl-dev uuid-dev libjsoncpp-dev nodejs npm

script:
  - ./unit_test.sh
  - ./generate_code_cov.sh
  - ./function_test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
